@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-spacers: (
  // 130px
  6: $spacer * 8.125
);

$spacers: map-merge($spacers, $custom-spacers);

// @import "../../node_modules/bootstrap/scss/_variables-dark.scss";
// @import "../../node_modules/bootstrap/scss/_maps.scss";
// @import "../../node_modules/bootstrap/scss/_mixins.scss";
// @import "../../node_modules/bootstrap/scss/_utilities.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@include media-breakpoint-down(md) {
  .main-heading-details {
    color: white;
  }
}

div.headline-row {
  height: 438px;
}

div.headline-row div {
  // width: 756px;
  width: 39.375%;
}